table {
    border: 1px solid #999;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #999;
}

.table.sprite th, .table.sprite td {
    /* <table class = "table sprite>" */
    border-left: 0;
    border-right: 0;
}

.table.small th, .table.small td {
    padding: 0;
}

.table.big th, .table.big td {
    padding: 10px;
}

.table.middle th, .table.middle td {
    padding: 4px;
}
