<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 가상 주소 = 서블릿 클래스 : 가상 URL 매핑  -->
	<servlet>
    	<servlet-name>Ex01</servlet-name>
    	<servlet-class>com.test.servlet.Ex01</servlet-class>
   	</servlet>
   	
   	<servlet>
    	<servlet-name>Ex02</servlet-name>
    	<servlet-class>com.test.servlet.Ex02</servlet-class>
   	</servlet>
   	
	<!-- 
		http://localhost:8082/ServletTest/ex01.do
		
		가상 주소 매핑
		1. 반드시 '/'로 시작한다.
		 - '/'의 의미 : http://localhost:8082/ServletTest/
		 - 내부적으로 '/' : WebContent 폴더 
	-->
	
    <servlet-mapping>
    	<servlet-name>Ex01</servlet-name>
    	<url-pattern>/ex01.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>Ex02</servlet-name>
    	<url-pattern>/ex02.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>Ex03</servlet-name>
    	<servlet-class>com.test.servlet.Ex03_Receive</servlet-class>
   	</servlet>
   	
   	<servlet-mapping>
    	<servlet-name>Ex03</servlet-name>
    	<url-pattern>/ex03.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>Ex04_Send</servlet-name>
    	<servlet-class>com.test.servlet.Ex04_Send</servlet-class>
   	</servlet>
   	
   	<servlet-mapping>
    	<servlet-name>Ex04_Send</servlet-name>
    	<url-pattern>/ex04_send.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>Ex04_Receive</servlet-name>
    	<servlet-class>com.test.servlet.Ex04_Receive</servlet-class>
   	</servlet>
   	
   	<servlet-mapping>
    	<servlet-name>Ex04_Receive</servlet-name>
    	<url-pattern>/ex04_receive.do</url-pattern>
    </servlet-mapping>
</web-app>