<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿의 가상 주소 매핑 -->
  <servlet>
  	<servlet-name>Hello</servlet-name>
  	<servlet-class>com.test.mvc.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/hello.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>List</servlet-name>
  	<servlet-class>com.test.mvc.address.List</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>List</servlet-name>
  	<url-pattern>/address/list.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Add</servlet-name>
  	<servlet-class>com.test.mvc.address.Add</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Add</servlet-name>
  	<url-pattern>/address/add.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddOk</servlet-name>
  	<servlet-class>com.test.mvc.address.AddOk</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddOk</servlet-name>
  	<url-pattern>/address/addok.html</url-pattern>
  </servlet-mapping>
</web-app>