<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿의 가상 주소 맵핑 -->
	<servlet>
	
		<servlet-name>Hello</servlet-name>
		<servlet-class>com.test.mvc.Hello</servlet-class>
	
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/hello.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Address.List</servlet-name>
		<servlet-class>com.test.mvc.address.List</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Address.List</servlet-name>
		<url-pattern>/address/list.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Address.Add</servlet-name>
		<servlet-class>com.test.mvc.address.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Address.Add</servlet-name>
		<url-pattern>/address/add.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Address.AddOk</servlet-name>
		<servlet-class>com.test.mvc.address.AddOk</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Address.AddOk</servlet-name>
		<url-pattern>/address/addok.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- 사이트(인증 + 게시판) -->
	<!-- 
	url
	1. /index.do : 초기페이지
	2. /auth/xxx.do : 인증 관련
	3. /board/xxx.doc : 게시판 관련
	
	
	-->
	
	<servlet>
		<servlet-name>Semi.Template</servlet-name>
		<servlet-class>com.test.mvc.Template</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Semi.Template</servlet-name>
		<url-pattern>/template.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Semi.Index</servlet-name>
		<servlet-class>com.test.mvc.Index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Semi.Index</servlet-name>
		<url-pattern>/index.do</url-pattern>
	</servlet-mapping>
	
		
	<servlet>
		<servlet-name>Semi.Auth.Index</servlet-name>
		<servlet-class>com.test.mvc.auth.Index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Semi.Auth.Index</servlet-name>
		<url-pattern>/auth/index.do</url-pattern>
	</servlet-mapping>
		
		
	<servlet>
		<servlet-name>Semi.Auth.Login</servlet-name>
		<servlet-class>com.test.mvc.auth.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Semi.Auth.Login</servlet-name>
		<url-pattern>/auth/login.do</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>Semi.Auth.Logout</servlet-name>
		<servlet-class>com.test.mvc.auth.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Semi.Auth.Logout</servlet-name>
		<url-pattern>/auth/logout.do</url-pattern>
	</servlet-mapping>
		
	
	
	
	
	
	
	
</web-app>


